<a href="https://colab.research.google.com/github/121910101012/coding/blob/main/exp5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1

A = {1,2,3,4,5}
B = {5,6,7}

print(2 in A)

type(2 in A)

True

bool

In [ ]:
#2

A = {1,2,3,4,5}
B = {5,6,7}

B.issubset(A)

False

In [ ]:
#3

def is_subset(A,B):
   for  e in A:
     if e in B:
       pass
     
     else:
     
       return False
   
   
   return True



     
A = {1,2,3,4,5}
B = {5,6,7}

sub = is_subset(A,B)

print(sub)

False

In [ ]:
#4

import numpy as np

uni = set(np.arange(10))
A = set(np.arange(0,9,2))
B = set(np.arange(0,9,3))

print("\nUniversal Set: ",uni)
print("\nSet: ", A)
print("\nSet: ",B)

A.union(B)

Universal Set:  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

Set:  {0, 2, 4, 6, 8}

Set:  {0, 3, 6}

{0, 2, 3, 4, 6, 8}